# Rust specific
/target/
**/*.rs.bk
Cargo.lock
debug/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
._*

# VSCode specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/